
* {
    box-sizing: border-box;
}

body {
    background-color: #eef;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

div#visualizer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 8vh;
    width: 100vw;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

canvas#visualizer-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
    background-color: white;
}

div#visualizer-frame {
    position: absolute;
    top: 0px;
    left: 30vw;
    height: calc(4vh + 2px);
    width: 60vw;
    display: none;
    border-left: 2px solid #06f;
    border-right: 2px solid #06f;
    border-bottom: 2px solid #06f;
    background-color: rgba(0, 100, 255, .2);
}

div#contentHolder {
    background-color: white;
    position: absolute;
    top: 20vh;
    width: 90vw;
    left: 5vw;
    border-radius: 1em;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

div#title {
    position: relative;
    font-size: large;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 1em;
}

div#text {
    position: relative;
    display: block;
    text-align: left;
    margin-top: 2em;
}

div#buttons {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 2em;
}

div#buttons > div {
    position: relative;
    display: inline-block;
    width: 30%;
    padding: 1em 0 1em 0;
    border-radius: 0.5em;
    font-weight: bold;
    border: 1px solid grey;
    cursor: pointer;
}

pre#console {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    font-family: monospace;
    font-size: 10px;
    color: #aaa;
    padding: 10px;
}
