
/********/
/* LOGO */
/********/

div.contentFrame.intro {
    z-index: 5;
    pointer-events: auto;
}

img#logo {
    position: fixed;
    z-index: 20;
    opacity: 0;
}

/**********/
/* LETTER */
/**********/

div.content.main {
    text-align: center;
    overflow: hidden;
}

div#letterWait {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    top: 40%;
}

body.mobile.wideContent div.content.main {
    overflow: auto;
}

img#letter {
    opacity: 0;
    transition: all .2s;
}

body.desktop img#letter {
    height: auto;
    width: calc(0.7067 * calc(100vh - 40px));
    margin: auto;
    background-color: rgba(0, 0, 0, .4);
}

div.content > div.buttonHolder {
    position: relative;
    height: 0px;
    margin: auto;
}

body.desktop div.content > div.buttonHolder {
    width: calc(0.7067 * calc(100vh - 40px));
    padding: 0px;
}

body.mobile div.content > div.buttonHolder {
    width: 100%;
    margin-top: calc(calc(50vh - 69vw) - 54px);
}

body.mobile.playerVisible div.buttonHolder {
    margin-top: calc(calc(50vh - 69vw) - 72px);
}

body.mobile img#letter {
    background-color: rgba(0, 0, 0, .2);
    width: 98vw;
    height: 138vw;
    margin-top: 0px; /* calc(calc(50vh - 70vw) - 52px); */
}

body.mobile.wideContent img#letter {
    width: 200vw;
    height: 283vw;
    margin: 0px;
    padding: 0px;
    margin-top: calc(calc(50% - 70vw) - 26px);
}

body.mobile.playerVisible div.content > div.buttonHolder {
    margin-top: calc(calc(50% - 70vw) - 59px);
}


body.mobile div.content.main.text div.buttonHolder {
    margin-top: 16px;
}

body.mobile.wideContent div.buttonHolder {
    width: 198vw;
    margin: 0px;
}

body.desktop.wideContent div.buttonHolder {
    width: 100%;
}

div.buttonHolder > div {
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
}

body.wideContent div.buttonHolder > div {
    top: 8px;
}

div.zoomButton {
    right: 60px;
    background-image: url(../img/icons/zoomIn.svg);
}

body.wideContent div.zoomButton {
    background-image: url(../img/icons/zoomOut.svg);
}

div.toggleButton {
    right: 4px;
    background-image: url(../img/icons/imageToText.png);
}

body.mobile div.content.main.text div.toggleButton {
    right: 16px;
}

body.wideContent img#letter {
    width: 100%;
}

body.mobile div.content.main {
    padding: 0px;
}

div#letterText {
    display: none;
    text-align: left;
    padding: 20px;
}

div.content.main.text div#letterText {
    display: block;
}

div.content.main.text img#letter {
    display: none;
}

div.content.main.text div.buttonHolder {
    width: 100%;
}

div.content.main.text div.zoomButton {
    display: none;
}

body.desktop div#letterText {
    background-color: rgba(0, 0, 0, .4);
}

body.mobile div#letterText {
    background-color: rgba(0, 0, 0, .2);
    margin: 0px 16px 16px 16px;
    padding: 10px;
}

/*********/
/* MUSIC */
/*********/

body.desktop div.content.music > div {
    background-color: rgba(0, 0, 0, .4);
}

body.mobile div.content.music > div {
    background-color: rgba(0, 0, 0, .2);
}

div.content.music a.album {
    display: block;
    text-align: center;
}

div.content.music img.albumCover {
    width: 350px;
}

div.content.music p.albumText {
}

div.content.music a.release {
    display: block;
    width: 100%;
    position: relative;
    padding-left: 160px;
    margin-bottom: 20px;
    height: 100px;
}

div.content.music a.release.newRelease {
    height: 240px;
    padding-left: 300px;
}

body.mobile div.content.music a.release {
    padding-left: 124px;
    margin-bottom: 20px;
    height: 80px;
}

body.mobile div.content.music a.release.newRelease {
    height: 160px;
    padding-left: 200px;
}

div.content.music img.releaseImage {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 100px;
    height: 100px;
}

div.content.music a.newRelease img.releaseImage {
    width: 240px;
    height: 240px;
}

body.mobile div.content.music img.releaseImage {
    left: 20px;
    width: 80px;
    height: 80px;
}

body.mobile div.content.music a.newRelease img.releaseImage {
    width: 160px;
    height: 160px;
}

div.content.music div.releaseTitle {
    padding-top: 10px;
}

div.content.music a.newRelease div.releaseTitle {
    padding-top: 80px;
}

body.mobile div.content.music a.newRelease div.releaseTitle {
    padding-top: 40px;

}

div.content.music div.releaseSubtitle {
    font-size: smaller;
    color: #bbb;
}

div.musicSectionTitle {
    font-size: larger;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-left: 40px;
}

/*********/
/* MEDIA */
/*********/

body.desktop div.thumbnailsArea {
    padding-left: 80px;
}

body.mobile div.thumbnailsArea {
    padding-left: 0px;
}

div.galleryThumbnailHolder {
    float: left;
    margin: 10px;
    position: relative;
}

body.mobile div.galleryThumbnailHolder {
    margin: 0px;
}

div.galleryThumbnailHolder > img {
    position: absolute;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    transition: transform 0.3s;
}

body.desktop div.galleryThumbnailHolder > img:hover {
    transform: scale(1.2);
}

div.carouselBackgroundOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1000;
    opacity: 0;
    transition: opacity .4s;
}

img.carouselImage {
    position: fixed;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    z-index: 1001;
}

body.desktop img.carouselImage {
    transition: all .4s ease-out;
}

body.mobile img.carouselImage {
    transition: all .2s ease-out;
}

div.carouselControlOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1002;
}

/*********/
/* ABOUT */
/*********/


body.desktop div.content.about > div {
    background-color: rgba(0, 0, 0, .4);
}

body.desktop div.content.about p {
    margin-left: 60px;
    margin-right: 30px;
}

body.mobile div.content.about > div {
    background-color: rgba(0, 0, 0, .2);
}

body.mobile div.content.about p {
    margin-left: 10px;
    margin-right: 10px;
}

/*********/
/* ALBUM */
/*********/

div.content.poetry-of-streetlights > div {
    overflow: hidden;
    background-color: rgba(255, 255, 255, .4);
    padding-bottom: 60px;
}

div.content.poetry-of-streetlights * {
    color: #334;
}

div.content.poetry-of-streetlights div.pageTitle {
    text-shadow: none;
    margin-bottom: 40px;
}

div.albumCoverHolder {
    text-align: center;
    margin-bottom: 40px;
}

img.albumCover {
    width: 65%;
/*  width: 550px;
    height: 550px; */
}

div.albumTrack {
    color: white;
    background-color: rgba(255, 255, 255, .4);
    padding: 8px 12px 8px 12px;
    width: 80%;
    text-align: left;
    margin: 0px auto 1px auto;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

mobile div.albumTrack {
    width: 90%;
}


img.trackStatus {
    display: none;
    position: absolute;
    height: 18px;
    top: calc(50% - 9px);
    right: 12px;
    opacity: .5;
}

div.albumTrack.pause img.trackStatus.pause, div.albumTrack.ended img.trackStatus.pause {
    display: block;
}

div.albumTrack.playing img.trackStatus.playing {
    display: block;
}

div.albumTrack.transition img.trackStatus.transition {
    display: block;
}


div.trackNumber {
    display: inline-block;
    width: 30px;
}

div.trackTitle {
    display: inline-block;
}

div.albumCredits {
    color: #ccc;
    text-align: left;
    margin: 50px 20px 20px 20px;
    font-size: 20px;
    font-weight: 600;
}

div.creditsLine {
    color: #ccc;
    text-align: left;
    margin: 0px 20px 12px 32px;
    font-size: 16px;
}

span.creditName {
    font-weight: 600;
}

/********/
/* NEWS */
/********/

body.desktop div.content.news > div {
    background-color: rgba(0, 0, 0, .4);
    padding-left: 30px;
    padding-right: 30px;
    min-height: 100%;
}

div.content.news iframe {
    width: 100%;
    height: auto;
    border: none;
}
