* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: Vollkorn, serif;
    overflow: hidden;
    background-color: #222;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

/**********************/
/* GENERAL RESPONSIVE */
/**********************/

body.mobile *.desktop {
    display: none;
}

body.desktop *.mobile {
    display: none;
}

/**************/
/* SCROLLBARS */
/**************/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .15);
    box-shadow: inset -1px 0 1px rgba(0, 0, 0, .3);
    border-radius: 100px;
}

body.poetry-of-streetlights ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .15);
    box-shadow: inset -1px 0 1px rgba(0, 0, 0, .3);
}

/**************/
/* BACKGROUND */
/**************/

div.backgroundTranslator {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    display: none;
}

img.background {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

img#background-ld {
    z-index: 1;
}

img#background-hd {
    z-index: 2;
}

div.albumBackground {
    z-index: 1;
    opacity: 0;
    display: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-color: #69f;
    background-image: url('../img/album-background/background-435.jpg');
    transition: opacity .5s;
}

/***********/
/* CONTENT */
/***********/

div.contentFrame {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    pointer-events: none;
    z-index: 3;
}

body.desktop div.contentFlex1 {
    height: 1px;
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 1;
}

body.mobile div.contentFlex1 {
    height: 1px;
    flex-basis: 0px;
    flex-shrink: 0;
    flex-grow: 0;
}

body.desktop div.contentFlex2 {
    height: 1px;
    flex-basis: 40px;
    flex-shrink: 0;
    flex-grow: 1;
}

body.mobile div.contentFlex2 {
    height: 1px;
    flex-basis: 0px;
    flex-shrink: 0;
    flex-grow: 0;
}

div.content {
    pointer-events: auto;
    font-size: 20px;
    position: relative;
}

body.desktop div.content {
    height: calc(100% - 40px);
    margin: 20px 0px 20px 0px;
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: auto;
}

body.desktop.wideContent div.content {
    flex-grow: 100;
    max-width: 1200px;
}

body.mobile div.content {
    height: calc(100% - 52px);
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: auto;
}

@keyframes content-insert {
    from {
	filter: blur(10px);
	opacity: 0;
    }
    to {
	filter: blur(0px);
	opacity: 1;
    }
}

div.insert {
    animation: content-insert .5s ease-in;
}

div.fastInsert {
    animation: content-insert .3s ease-in;
}

@keyframes content-remove {
    from {
	filter: blur(0px);
	opacity: 1;
    }
    to {
	filter: blur(10px);
	opacity: 0;
    }
}

div.remove {
    animation: content-remove .5s ease-out;
}

div.pageTitle {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

/********/
/* MENU */
/********/

body.desktop div.contentFrame.menu {
    z-index: 4;
}

body.desktop div.contentFrame.above div.content {
    pointer-events: none;
}

body.desktop div.contentFlex1.menuHolder {
    height: 100%;
    display: flex;
    flex-direction: row;
}

body.desktop div.menuFlex1 {
    height: 1px;
    flex-basis: 20px;
    flex-shrink: 0;
    flex-grow: 2;
}

body.desktop div.menuFlex2 {
    height: 1px;
    flex-basis: 20px;
    flex-shrink: 0;
    flex-grow: 1;
}

body.desktop div.flexMenuHolder {
    position: relative;
    height: 100%;
    flex-basis: 150px;
    flex-shrink: 0;
    flex-grow: 0;
    pointer-events: auto;
}

div.menu {
    position: absolute;
    overflow: hidden;
    z-index: 4;
    opacity: 0;
    transition: opacity 0.5s;
}

body.desktop div.menu {
    top: calc(100% - 400px);
    left: 0px;
    width: 170px;
    height: auto;
    padding: 10px;
}


body.about div.menu, body.main div.menu, body.about div.menu, body.music div.menu, body.contact div.menu, body.media div.menu, body.poetry-of-streetlights div.menu {
    opacity: 1;
}

body.desktop a.menuItem {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 62px;
    padding-top: 10px;
    font-size: 20px;
    font-family: serif;
    cursor: pointer;
    color: white;
    text-align: left;
    transition: background-color 1s;
}

body.desktop a.menuItem img.uc_1 {
    height: 42px;
}

body.desktop a.menuItem img.lc_1 {
    height: 68px;
}

body.desktop a#menu_main img.uc_1 {
    margin-left: 6px;
}

body.desktop a#menu_about img.uc_1 {
    margin-left: 5px;
}


body.desktop a#menu_main img.lc_1 {
    margin-left: 30px;
}

body.desktop a#menu_about img.lc_1 {
    margin-top: 4px;
}

body.desktop a#menu_music img.lc_1 {
    margin-left: 12px;
}

body.desktop a#menu_media img.lc_1 {
    margin-left: 6px;
}


body.mobile div.menu {
    width: 100%;
    left: 0px;
    height: 52px;
    top: calc(100% - 52px);
    display: flex;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, .5);
}

body.mobile a.menuItem {
    flex: 1;
    height: 52px;
    padding-top: 12px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-family: serif;
    cursor: pointer;
    color: white;
    transition: background-color 1s;
}

body.mobile a.menuItem img {
    height: 32px;
}

div.menuItem:hover {
    background-color: rgba(255, 255, 255, .03);
    transition: background-color .3s;
}

/*
body.desktop.poetry-of-streetlights div.menu {
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, .3);
}
*/

body.desktop.poetry-of-streetlights a.menuItem img {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .8));
}


/*********/
/* AUDIO */
/*********/


div.audioHolder {
    position: fixed;
    display: hidden;
    top: -10px;
    left: -10px;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
